/*DESDE AQUÍ FONDO Y MENU*/

body {
    font-family: "Courier New";
}

#fondo{
    position: fixed;
    z-index: -1000;
    margin-left: -100px;
    margin-top: -20px;
}

#degradado{
    position: fixed;
    z-index: -900;
    margin-left: -100px;
    margin-top: -20px;
}

.menu{
    position:fixed;
    height:12%;
    width: 100%;
    bottom: 88%;
}

.menuLetra{
    color: white;
    margin-left:8%;
    display: inline;
    background-color: *rgb(223, 219, 219);
    position: static;
    padding-top:1%;
    padding-bottom:1%;  
    font-size: 110%;
}

.menuLetra:hover{
    margin-left: 8%;
    display: inline;
    background-color: rgba(248, 209, 165, 0.301);
    position: static;
    padding-top:1%;
    padding-bottom:1%;
}
.enlace{
    text-decoration: none;
}

hr{
    width: 80%;
    height: 5%;
    background-color: rgb(0, 0, 0);
    border: 0.5px solid black;
    border: 0.5px solid black;
}

.logito{
    width: 100px;
    float: left;
    margin-top: 12px;
    margin-left: 20px;
}
/*HASTA AQUÍ FONDO Y MENU*/

/*QUIENES SOMOS*/

}
.quienTitulo{
    background-color: blueviolet;
    margin-top: 90%;
    width:40%;
    padding-top: 20%;
    padding-bottom: 2%;
    text-align: center;
}
.quienTexto{
    float: left;
    width: 30%;
    padding-right: 2%;
    padding-left: 1%;
    margin-top: 27%;
    margin-left:2%;
    font-size: 120%;
    text-align:justify;
}
.quienGrupo{
    float:right;
    width: 40%;
    height: 40%;
    margin-top: 10%;
    margin-right: 20%;
}
.quienPersona{
    float:right;
    width: 55%;
    z-index: -950;
    margin-top: 30%;
    margin-right: 10%;
}
.quienTesti{
    float:right;
    padding:2%;
    position: static;
    margin-top: 60%;
    margin-right: 35%;
}

#solucion{
    margin-left: 30%;
    margin-top: 15%;
    position: absolute;
    font-size: 70px;
}
#footer{
    border: 1px solid #7B241C;
    background-color: #7B241C;
    color: white;
    height: 90px;
    text-align: center;
    margin-top: 1%;
}
