/*FONDO Y DEGRADADO*/
#fondo{
    position: fixed;
    z-index: -1000;
    margin-left: -100px;
    margin-top: -20px;
}




#rojo{
    position: fixed;
    z-index: -900;
    margin-left: -100px;
    margin-top: -20px;
}
/*FIN FONDO Y DEGRADADO*/


body{
    padding-bottom: 100%;
    
}



.logoCampus{
    width: 20%;
    height: 34%;
    position: static;
    margin-left: 40%;
    margin-top: 1%;
    float: left;
}


.fotoLogo{
    z-index: ; 
    width:10%;
    height: 10%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 20% 20%;
}



ul{
    list-style: none;
}




.nav li a{
    opacity: 100%;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    padding-right: 20%;
    display: block; 
}





.nav li a:hover{
   
    color: white;
}




/*RECOGE LOS ELEMENTOS QUE ESTEN DENTRO DEL LI, EN ESTE
CASO AFECTARÁ A LOS SUBMENÚS*/
.nav > li{
    float: left;
}




.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}




.nav li:hover > ul{
    display: block;
    background-color: red;
}



.nav li ul li{
    position: relative;
}



.nav li ul li ul{
    right: -140px;
    top: 0px;
}




#cajaLogos{
    border: 1px  black;
    width: 7%;
    margin-left: 90%;
    position: fixed;
}




.logos{
    margin-left: 190%;
    
    width: 6%;
    position: fixed;
    float: right;
}




#insta{
    width: 100%;
}






/*Testimonios de personas que fueron al campus*/
/*1*/
#test1{
    
    width: 25%;
    height: 30%;
    margin-top: 35%;
    margin-left: 5%
}

#estu1{
    width: 72%;
    margin-left: 10%;
}

#txTest1{
    text-align: center;
}

/*FIN1*/

/*2*/
#test2{
    
    width: 25%;
    height: 30%;
    margin-top: -25%;
    margin-left: 32%;
}

#estu2{
    width: 80%;
    margin-left: 10%;
}

#txTest2{
    text-align: center;
}
/*FIN2*/

/*3*/
#test3{
  
    width: 30%;
    height: 0%;
    margin-top: -23.5%;
    margin-left: 59%
}

#estu3{
    width: 80%;
    margin-left: 10%;
}

#txTest3{
    text-align: center;
    width: 80%;
    margin-left: 8%;
}
/*FIN3*/
/*FIN Testimonios de personas que fueron al campus*/





hr{
    width: 70%;
    height: 5%;
    background-color: rgb(0, 0, 0);
    border: 0.5px solid black;
    border: 0.5px solid black;
    margin-left: 10%;
}






/*AUN NO NOS CONOCEMOS*/
#CajalogoCampus{
    
    width: 15%;
}

#logoCampusConocenos{
    width: 80%;
    margin-left: 50%;
    margin-top: 40%;
}

#tituloConocemos{
   
    width: 60%;
    margin-left: 25%;
    margin-top: -15%;
}

#titulo{
    text-align: center;
    font-family: "Courier New";
    font-weight: bold;
    font-size: 380%;
}

#cajaTx{
    margin-left: 5%;    
    margin-top: 10%;
    border: 1px solid black;
    width: 75%;
}

#txConocemos{
    font-family: "Courier New";
    text-align: justify;
    font-size: 120%;
    margin-left: 5%;
    margin-right: 20%;
    width: 40%;
    
}

/*1*/
#trab1{
    
    width: 25%;
    height: 30%;
    margin-top: 15%;
    margin-left: 5%
}

#imTrab1{
    width: 72%;
    margin-left: 10%;
}

#txT1{
    text-align: center;
}

/*FIN1*/

/*2*/
#trab2{
    
    width: 25%;
    height: 30%;
    margin-top: -25%;
    margin-left: 32%;
}

#imTrab2{
    width: 80%;
    margin-left: 10%;
}

#txT2{
    text-align: center;
}
/*FIN2*/

/*3*/
#trab3{
  
    width: 30%;
    height: 0%;
    margin-top: -23.5%;
    margin-left: 59%
}

#imTrab3{
    width: 80%;
    margin-left: 10%;
}

#txT3{
    text-align: center;
    width: 80%;
    margin-left: 8%;
}


/*FIN AUN NO NOS CONOCEMOS*/
