/*INDEX*/
/*@font-face{
    font-family: "latha1";
    src: url(../FONTS/latha1.otf);
}*/
/* HEMOS CAMBIADO LA FOTO DE FONDO, LA TENGO EL EL USB, TAMBIÉN HEMOS CAMBIADO LA TIPOGRAFÍA DE LA LETRA A Courier New Y HEMOS QUITADO LAS CAJAS Y LOS BORDES */

/*FONDO Y MENU*/
body {
    font-family: "Courier New";
}
#fondo{
    position: fixed;
    z-index: -1000;
    margin-left: -100px;
    margin-top: -20px;
}

#degradado{
    position: fixed;
    z-index: -900;
    margin-left: -100px;
    margin-top: -20px;
}

.menu{
    position:fixed;
    height:12%;
    width: 100%;
    bottom: 88%;
}

.menuLetra{
    color: white;
    margin-left:8%;
    display: inline;
    background-color: rgb(223, 219, 219);
    position: static;
    padding-top:1%;
    padding-bottom:1%;  
    font-size: 110%;
}



.menuLetra:hover{
    margin-left: 8%;
    display: inline;
    background-color: rgba(248, 209, 165, 0.301);
    
    
    position: static;
    padding-top:1%;
    padding-bottom:1%;
}
.enlace{
    text-decoration: none;
}

/*HASTA AQUÍ FONDO Y MENU*/
.fotoLogo{
    align-content: center;
    position: static;
    margin-top:10%;
    margin-left: 25%;
    width: 700px;
    
}

hr{
    width: 80%;
    height: 5%;
    background-color: rgb(0, 0, 0);
    border: 0.5px solid black;
    border: 0.5px solid black;
}

.logito{
    width: 100px;
    float: left;
    margin-top: 12px;
    margin-left: 20px;
   
}
 /*TESTIMONIOS*/
 #testimonio{
    
    width:100%;
    padding-top: 3%;
    padding-bottom: 20%;
}

    /*CUADROS*/
.cuadro{
    margin-left: 30%;
    position: static;
}

#nombres{
    font-size: 170%;
}
    /*CUADRO 1*/
.imleft{
    z-index: -950;
    white-space: nowrap;
    float:left;
    width: 35%;
    margin-left: -20%;
    margin-top: 1.3%;
    position: relative;
}
.pright{
    white-space: nowrap;
    float: left;
    width: 60%;
    margin-left: 5%;
    margin-top: 10%;
    font-size: 120%;
    text-align: justify;

}
    /*CUADRO 2*/
.dos{
    margin-top: 15%;
}

.pleft{
    white-space: nowrap;
    margin-top: 50%;
    margin-left: -20%;
    width:60%;
    font-size: 120%;
    text-align: justify;

}
.imright{
    z-index: -950;
    position: relative; 
    float:right;
    width: 35%;
    margin-right: 20%;
    margin-top: -25%;
}

    /*OFICINAS*/
#inst{
    font-size: 250%;
    text-align: center;
    font-weight: bold;
}

#lasOficinas{
    z-index: -950;
    margin-left: 1%;
    margin-top: 5%;
    padding-bottom: 13%;
    
}
.ofright{
    z-index: -950;
    width: 98%;
    margin-right: 20px;
}

#textoOfi{
   position: absolute;
    font-size: 120%;
}

