/*FONDO Y DEGRADADO*/
#fondo{
    position: fixed;
    z-index: -1000;
    margin-left: -100px;
    margin-top: -20px;
}




#rojo{
    position: fixed;
    z-index: -900;
    margin-left: -100px;
    margin-top: -20px;
}
/*FIN FONDO Y DEGRADADO*/


body{
    padding-bottom: 100%;
    
}



.logoCampus{
    width: 20%;
    height: 34%;
    position: static;
    margin-left: 40%;
    margin-top: 1%;
    float: left;
}


.fotoLogo{
    z-index: ; 
    width:10%;
    height: 10%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 20% 20%;
}



ul{
    list-style: none;
}




.nav li a{
    opacity: 100%;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    padding-right: 20%;
    display: block; 
}





.nav li a:hover{
   
    color: white;
}




/*RECOGE LOS ELEMENTOS QUE ESTEN DENTRO DEL LI, EN ESTE
CASO AFECTARÁ A LOS SUBMENÚS*/
.nav > li{
    float: left;
}




.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}




.nav li:hover > ul{
    display: block;
    background-color: red;
}



.nav li ul li{
    position: relative;
}



.nav li ul li ul{
    right: -140px;
    top: 0px;
}




#cajaLogos{
    border: 1px  black;
    width: 7%;
    margin-left: 90%;
    position: fixed;
}




.logos{
    margin-left: 190%;
    box-shadow: 2px 2px 10px #666;
    width: 6%;
    position: fixed;
    float: right;
}




#insta{
    width: 100%;
}






/*Testimonios de personas que fueron al campus*/
/*1*/
#test1{
    
    width: 25%;
    height: 30%;
    margin-top: 35%;
    margin-left: 5%
}

#estu1{
    width: 72%;
    margin-left: 10%;
}

#txTest1{
    text-align: center;
}

/*FIN1*/

/*2*/
#test2{
    
    width: 25%;
    height: 30%;
    margin-top: -25%;
    margin-left: 32%;
}

#estu2{
    width: 80%;
    margin-left: 10%;
}

#txTest2{
    text-align: center;
}
/*FIN2*/

/*3*/
#test3{
  
    width: 30%;
    height: 0%;
    margin-top: -23.5%;
    margin-left: 59%
}

#estu3{
    width: 80%;
    margin-left: 10%;
}

#txTest3{
    text-align: center;
    width: 80%;
    margin-left: 8%;
}
/*FIN3*/
/*FIN Testimonios de personas que fueron al campus*/





hr{
    width: 70%;
    height: 5%;
    background-color: rgb(0, 0, 0);
    border: 0.5px solid black;
    border: 0.5px solid black;
    margin-left: 10%;
}






/*AUN NO NOS CONOCEMOS*/
#CajalogoCampus{
    
    width: 15%;
}

#logoCampusConocenos{
    width: 80%;
    margin-left: 50%;
    margin-top: 40%;
}

#tituloConocemos{
   
    width: 60%;
    margin-left: 25%;
    margin-top: -15%;
}

#titulo{
    text-align: center;
    font-family: "Courier New";
    font-weight: bold;
    font-size: 380%;
}

#cajaTx{
    margin-left: 5%;    
    margin-top: 10%;
    border: 1px solid black;
    width: 75%;
}

#txConocemos{
    font-family: "Courier New";
    text-align: justify;
    font-size: 120%;
    margin-left: 5%;
    margin-right: 20%;
    width: 40%;
    
}

/*1*/
#cajaQ1{
    
}

#fotoQ1{
    width: 30%;
    margin-left: 5%;
    margin-top: 5%;
}

#cajaTxQ1{
    width: 30%;
    margin-left: 35%;
    margin-top: -25%;
    margin-right: 5%;
}

#txQ1{
    font-family: "Courier New";
    text-align: justify;
}
/*FIN1*/

/*2*/
#cajaQ2{
    
}

#fotoQ2{
    width: 33%;
    margin-left: 55%;
    margin-top: 10%;
}

#cajaTxQ2{
    width: 30%;
    margin-left: 17%;
    margin-top: -15%;
}

#txQ2{
    font-family: "Courier New";
    text-align: justify;
}
/*FIN2*/

/*3*/
#cajaQ3{
    
}

#fotoQ3{
    width: 33%;
    margin-left: 5%;
    margin-top: 10%;
}

#cajaTxQ3{
    width: 30%;
    margin-left: 35%;
    margin-top: -25%;
}

#txQ3{
    font-family: "Courier New";
    text-align: justify;
}
/*FIN3*/
/*FIN AUN NO NOS CONOCEMOS*/

#hr2{
    margin-top: 20%;
}

/*HORARIO*/
#titHorarios{
    width: 12%;
    margin-left: 7%;
}

#tituloHorario{
    margin-left: 11%;
    width: 60%;
    margin-top: -17%;
}

#tituloActos{
    
    margin-left: 25%;
}

#tituloHorario2{
    font-size: 150%;
    font-family: "Courier New";
    font-weight: bolder;
}

#tituloFreak{
    margin-left: 60%;
    margin-top: -3.7%;
}

#tituloHorario3{
    font-size: 150%;
    font-family: "Courier New";
    font-weight: bolder;
}

#tituloHorario1{
    width: 60%;
    margin-left: 50%;
    font-size: 400%;
    font-family: "Courier New";
    font-weight: bold;
}
/*horas*/
#hrHoras{
    width: 3%;
      
}

#txHoras{
    margin-left: 10%;
    font-family: "Courier New"; 
}
/*FIN horas*/

#cajaApertura{
    border: 1px solid #922B21;
    width: 25%;
    margin-top: -85%;
    margin-left: 20%;
    border-radius: 10%;
    background-color: #922B21;
}

#titAp{
    margin-left: 16%;
    font-size: 120%;
    font-family: "Courier New";
    color: white;
    font-weight: bold;
}

#fotoAp{
    width:60%;
    margin-left: 20%;
}

#txAp{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    color: white;
}




#cajaPon1{
    border: 1px solid #922B21;
    width: 25%;
    margin-top: -10;
    margin-left: 53%;
    border-radius: 10%;
    background-color: #922B21;
}

#titPon1{
    margin-left: 11%;
    font-size: 120%;
    font-family: "Courier New";
    color: white;
    font-weight: bold;
}

#fotoPon1{
    width:60%;
    margin-left: 20%;
}

#txPon1{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    color: white;
}


#cajaPon2{
    border: 1px solid #922B21;
    width: 25%;
    margin-top: -6%;
    margin-left: 20%;
    border-radius: 10%;
    background-color: #922B21;
    height: 50%;
}

#titPon2{
    margin-left: 11%;
    font-size: 120%;
    font-family: "Courier New";
    color: white;
    font-weight: bold;
}

#fotoPon2{
    width:60%;
    margin-left: 20%;
}

#txPon2{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    color: white;
}


#cajaPon3{
    border: 1px solid #922B21;
    width: 25%;
    margin-top: 6%;
    margin-left: 20%;
    border-radius: 10%;
    background-color: #922B21;
    height: 50%;
}

#titPon3{
    margin-left: 11%;
    font-size: 120%;
    font-family: "Courier New";
    color: white;
    font-weight: bold;
}

#fotoPon3{
    width:60%;
    margin-left: 20%;
}

#txPon3{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    color: white;
}


#cajaPon4{
    border: 1px solid #922B21;
    width: 25%;
    margin-top: -36%;
    margin-left: 53%;
    border-radius: 10%;
    background-color: #922B21;
    height: 50%;
}

#titPon4{
    margin-left: 11%;
    font-size: 120%;
    font-family: "Courier New";
    color: white;
    font-weight: bold;
}

#fotoPon4{
    width:60%;
    margin-left: 20%;
}

#txPon4{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    color: white;
}
/*FIN HORARIO*/




/*PATROCINADORES*/
#logoCampPatr{
    width: 12%;
    margin-left: 7%;
}

#cajTitPatr{
    width: 40%;
    margin-left: 32%;
    margin-top: -15%;
}

#titPatr{
    font-family: "Courier New";
    font-size: 350%;
    font-weight: bold;
}

    /*fotos patrocinadores*/
    #cajaAtos{
        width: 30%;
        margin-left: 15%;
    }

    #atos{
        width: 90%;
    }

    #cajaEveris{
        width: 30%;
        margin-left: 50%;
        margin-top: -20%; 
    }

    #everis{
        width: 80%;   
    }

    #cajaLg{
        width: 30%;
        margin-left: 20%;
        margin-top: -5;
    }

    #lg{
        width: 70%;
    }

    #cajaSamsung{
        width: 30%;
        margin-left: 50%;
        margin-top: -9%;
    }

    #samsung{
        width: 80%;
    }

    #cajaApple{
        margin-left: 57%;
        margin-top: 5%;
    }

#apple{
    width: 25%;
}

#cajaAcs{
    width: 30%;
    margin-left: 18.5%;
    margin-top: -12.5%;
}

#acs{
    width: 78%;
}

#CajaGoogle{
    width: 40%;
    margin-left: 25%;
}

#google{
    width: 100%;
}
    /*FIN fotos patrocinadores*/
/*FIN PATROCINADORES*/


/*FORMULARIO*/
#logoCampPatr{
    margin-top: 5%;
}

#cajTitForm{
    width: 60%;
    margin-left: 24%;
    margin-top: -18%;
}

#titForm{
    font-family: "Courier New";
    font-size: 350%;
    font-weight: bold;
    text-align: center;
}

.formulario{
    margin-left: 15%;
    margin-top: 5%;
}

#letrasForm{
    font-family: "Courier New";
}
/*FIN FORMULARIO*/
