/*DESDE AQUÍ FONDO Y MENU*/
#fondo{
    position: fixed;
    z-index: -1000;
    margin-left: -100px;
    margin-top: -20px;
}

#degradado{
    position: fixed;
    z-index: -900;
    margin-left: -100px;
    margin-top: -20px;
}

.menu{
    position:fixed;
    height:12%;
    width: 100%;
    bottom: 88%;
}

.menuLetra{
    color: white;
    margin-left:7%;
    display: inline;
    background-color: *rgb(223, 219, 219);
   
 
    position: static;
    padding-top:1%;
    padding-bottom:1%;  
    font-size: 120%;
    font-family: "Courier New";
}

.menuLetra:hover{
    margin-left: 7%;
    display: inline;
    background-color: rgba(248, 209, 165, 0.301);
    
    
    position: static;
    padding-top:1%;
    padding-bottom:1%;
}
.enlace{
    text-decoration: none;
}
    
}

hr{
    width: 80%;
    height: 5%;
    background-color: rgb(0, 0, 0);
    border: 0.5px solid black;
    border: 0.5px solid black;
}

.logito{
    width: 100px;
    float: left;
    margin-top: 12px;
    margin-left: 20px;
}
/*HASTA AQUÍ FONDO Y MENU*/

/*SERVICIOS*/

#titulo{
    margin-left: 12%;
    font-size: 250%;
}

#tituloServicios{
    font-size: 70%;
}

.losServicios{
    
   
    width: 120%;
}

.servicio1, .servicio2, .servicio3{
    
}

.servicio1{
    font-size: 120%;
    display: inline-block;
    margin-left: 15%;
    margin-top: 5%;
    text-align: center;
}
.servicio2{
    font-size: 120%;
    display: inline-block;
    margin-left:10%;
    text-align: center;
}
.servicio3{
    font-size: 120%;
    margin-right: 20%;
    margin-top: 7%;
    text-align: center;
    
}



.imagenCampus{
    width:20%;
    height: 70%;
}

#textoCamp{
    text-align: center;
}
