.menu{
    position:fixed;
    background-color: rgba(84, 240, 70, 0.39);
    height:12%;
    width: 100%;
    bottom: 88%;
}

.menuLetra{
    margin-left: 6%;
    display: inline;
    background-color: rgb(223, 219, 219);
    border:1px solid orange;
    border-radius: 20%;
    position: static;
    padding-top:1%;
    padding-bottom:1%;  
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menuLetra:hover{
    margin-left: 6%;
    display: inline;
    background-color: rgba(248, 209, 165, 0.301);
    border:1px solid rgba(255, 0, 0, 0.322);
    border-radius: 20%;
    position: static;
    padding-top:1%;
    padding-bottom:1%;
}
.enlace{
    text-decoration: none;
}
.logito{
    width: 40px;
    height:40px;
}

/*COMO LLEGAR*/
.ComoLLegar{
    position: static;
    
}
.googleMaps{
    position: static;
    float: right; 
    margin-right: 30%;
    margin-top: 10%;   
    
}
.formulario{
    position: static;
    float: left;
    margin-top: 10%;
    margin-left: 10%;
    background-color: rgb(255, 249, 167);
}

.logos{
    position: fixed;
   display: block;
   margin-left: 90%;
}

.tamanio{
    width: 20px;
    height: 25px;
    display: block;
}
