.menu{
    position:fixed;
    background-color: rgba(84, 240, 70, 0.39);
    height:12%;
    width: 100%;
    bottom: 88%;
}

.menuLetra{
    margin-left: 6%;
    display: inline;
    background-color: rgb(223, 219, 219);
    border:1px solid orange;
    border-radius: 20%;
    position: static;
    padding-top:1%;
    padding-bottom:1%;  
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menuLetra:hover{
    margin-left: 6%;
    display: inline;
    background-color: rgba(248, 209, 165, 0.301);
    border:1px solid rgba(255, 0, 0, 0.322);
    border-radius: 20%;
    position: static;
    padding-top:1%;
    padding-bottom:1%;
}
.enlace{
    text-decoration: none;
}
.logito{
    width: 40px;
    height:40px;
}

/*QUIENES SOMOS*/
.quienesSomos{
    margin-top:10%;
    height:100%;
    width: 100%;
    padding-bottom: 20%;
    background-color: brown;
}
.quienTitulo{
    background-color: blueviolet;
    margin-left: 30%;
    width:40%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}
.quienTexto{
    float: left;
    width: 20%;
    padding-right: 4%;
    padding-left: 2%;
    margin-top: 5%;
    margin-left: 4%;
    font-size: 120%;
    border: 2px solid black;
}
.quienGrupo{
    float:right;
    width: 40%;
    height: 40%;
    margin-top: 10%;
    margin-right: 20%;
}
.quienPersona{
    float:right;
    width: 15%;
    height: 20%;
    margin-top: 5%;
    margin-right: 50%;
}
.quienTesti{
    float:right;
    border: 2px solid black;
    padding:2%;
    position: static;
    margin-top: -8%;
    margin-right: 22%;
}